* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 400;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
    display: block;

    background-color: #ccc;
}


.wrapper {
    max-width: 58.75rem;
    margin: 0 auto;
}



/* -------------------- TEXT -------------------- */

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
.section__heading {
    font-size: 0.8rem;
}
.section__info {
    font-size: 0.7rem;
}

p {
    padding-top: 1em;
}

.menu__top__item {
    font-size: 0.8rem;
    font-weight: 900;
}
.menu__bottom__item {
    font-size: 0.9rem;
    font-weight: 600;
}



/* -------------------- NAV / MENU -------------------- */

header {
    margin-top: 9.5rem;
}

nav {
    width: 100%;
    height: 9.5rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background-color: #fff;
    box-shadow: 0 0 6px #00000050;
}

.menu__top {
    height: 7rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 2rem;

    padding: 0 1em 1.5em;
}

.menu__top__item:first-of-type {
    cursor: pointer;
}
.menu__top__item:nth-of-type(2) {
    font-size: 1.2rem;

    cursor: pointer;

    margin-right: auto;
}
.menu__top__logo {
    width: 35rem;
    height: 100%;
}
.menu__top__item:last-of-type {
    margin-left: auto;
}

.menu__bottom {
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.5%;

    border-top: solid 1px #ddd;
}

.menu__bottom__item:last-of-type .menu__bottom__link {
    color: #ff0000;
}



/* -------------------- MAIN -------------------- */

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



/* ---------- REKLAME ---------- */

.reklame {
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 10rem;

    position: relative;
    margin: 1em 0 2.5em;
}
.reklame img {
    height: 100%;

    background-color: #eee;
}
.reklame figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -0.8rem;

    font-size: 0.8rem;
    text-align: center;
    writing-mode: vertical-lr;
    color: #999;
}



/* ---------- SECTION 1 ---------- */

.section__featured {
    grid-column: 2/-1;
    grid-row: 2/3;
}
.section__featured__paywall {
    grid-column: 2/-1;
    grid-row: 3/4;
}
.section__featured__author {
    grid-column: 1/2;
    grid-row: 3/4;
}
.more__articles {
    grid-column: 1/-1;
    grid-row: 4/5;
}


/* ---------- SECTION 2 ---------- */

.section__articles__more {
    grid-column: 1/-1;
    grid-row: 4/5;
}



/* ---------- SECTION 3 ---------- */

.section__articles__frontpage {
    grid-column: 2/-1;
    grid-row: 5/6;
}
.section__articles__sidebar {
    grid-column: 1/2;
    grid-row: 5/6;
}

/* ---------- SECTION 4 ---------- */

.section__comments {
    grid-column: 2/-1;
    grid-row: 6/7;
}
.section__suggested {
    grid-column: 1/2;
    grid-row: 6/7;
}





/* -------------------- FOOTER -------------------- */